/* Global styles */
html,
body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Source Sans Pro";
    font-weight: 200;
    color: #000000
}

h1 {
    text-align: center;
    font-family: "Source Sans Pro";
    font-weight: 1000;
    margin: 0;
}

h2,
h3 {
    text-align: center;
    font-family: "Source Sans Pro";
    font-weight: 300;
    margin: 0;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #bababa;
    text-decoration: none;
}

header,
main,
nav {
    padding: 10px 30px;
}

main {
    clear: both;
}

/* Header styles */
header h1 {
    font-size: 50px;
    font-weight: bold;
    padding: 10px 0px;
    color: #f9f7f7;
}

header h2 {
    font-size: 30px;
    padding-top: 24px;
}

header h3 {
    font-size: 20px;
    padding: 24px;
}

header {
    background-color: transparent;
    overflow: hidden;
}

/* Nav tag styles */
nav {
    text-align: center;
    background-color: transparent;
}

nav a {
    padding: 10px 0;
    color: black;
}

/* List styles */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

/* A tag styles */
a.btn-icons,
a.btn-icons:hover,
a.btn-icons:focus {
    color: #ffffff;
    background-color: transparent;
    padding: .75rem 1.25rem;
}

/* Navigation bar styles */
.topnav {
    display: block;
    background-image: url(../images/background-cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 75%;
}

.topnav-options {
    text-align: center;
    display: inline-block;
}

/* Navigation bar link style */
.topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 10px 50px;
    text-decoration: none;
    font-size: 20px;
}

/* Change the colour of links on hover */
.topnav a:hover {
    color: #ddd;
    text-decoration: none;
}

/*!* Hide hamburger topnav menu unless mobile *!*/
/*.topnav .icon {*/
    /*display: none;*/
/*}*/

/* Intro header style */
.intro {
    background-color: #fcfcf9;
}

/* Info column styles */
.info-block {
    padding-top: 20px;
}

.info-column {
    float: left;
    text-align: center;
    width: 50%;
    padding: 20px;
    height: 350px;
}

.info-column#coding {
    color: #ffffff;
    display: inline-block;
    background-image: url("../images/coding-cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.info-column#photography {
    /*#TODO: Add photography background image*/
    color: #fcef02;
    display: inline-block;
    background-image: url("../images/photography-cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Clear floats after the columns */
.info-block:after {
    content: "";
    display: table;
    clear: both;
}

.page-wrap {
    min-height: 100%;
}

/* Footer styles */
footer,
.page-wrap:after {
    height: 55px;
}

footer p {
    background: rgba(255, 255, 255, 0.8);
    font-family: "Source Sans Pro";
    font-size: 20px;
    text-align: center;
    padding: 30px;
}

/* Responsive web style */
@media screen and (max-width: 600px) {
    .info-column {
        width: 100%;
    }
}
